#Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar
.flattened-pom.xml

# Eclipse
.project
.classpath
.settings/
bin/

# IntelliJ
.idea
*.ipr
*.iml
*.iws

# NetBeans
nb-configuration.xml

# Visual Studio Code
.vscode
.factorypath

# OSX
.DS_Store

# Vim
*.swp
*.swo

# patch
*.orig
*.rej

# Local environment
.env

# Plugin directory
/.quarkus/cli/plugins/
# TLS Certificates
.certs/

# Exclude credentials folder (and its contents) from git
/credentials/
**/credentials/
**/credentials/*.json

# Exclude kafka-ccm-dev-cloud-df-kf-ng-48d9e2125a11.json from git
/src/main/resources/kafka-ccm-dev-cloud-df-kf-ng-48d9e2125a11.json

src/main/java/com/example/inventory/kafka-ccm-dev-cloud-df-kf-ng-48d9e2125a11.json